<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.purplecow.mapper.CarsMapper">


	<select id="getCarByZoneId"
		resultType="com.purplecow.dto.Cars">
		SELECT * 
		FROM cars
		WHERE zones_id = #{id}
	</select>
	
	<select id="getCars"
		resultType="com.purplecow.dto.Cars">
		SELECT * FROM cars
	</select>


</mapper>