<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.purplecow.mapper.PaymentsMapper">

	<insert id="insertPayments"
		parameterType="com.purplecow.dto.Payments" useGeneratedKeys="true" keyProperty="id">
		INSERT INTO payments
		(rental_amount,calling_fee,insurance_fee,prepaid_amount)
		VALUES
		(#{rental_amount},#{calling_fee},#{insurance_fee},#{prepaid_amount})		
    </insert>
</mapper>